.user-avatar{
  width: 32px;
  height: 32px;
  overflow: hidden;
  position:relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  background-size: cover;
  background-clip: content-box;
  border-radius: 50%;
}
.user-avatar.hover:hover{
  cursor:pointer;
}
.user-avatar .avatar-text{
  line-height:32px;
  text-align: center;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
}
.user-avatar.xs{
  width:24px;
  height:24px;
}
.user-avatar.xs .avatar-text{
  font-size:12px;
  line-height:24px;
}
.user-avatar.sm{
  width:32px;
  height:32px;
}
.user-avatar.sm .avatar-text{
  font-size:13px;
  line-height:32px;
}
.user-avatar.md{
  width:48px;
  height:48px;
}
.user-avatar.md .avatar-text{
  font-size:18px;
  line-height:48px;
}
.user-avatar.lg{
  width:64px;
  height:64px;
}
.user-avatar.lg .avatar-text{
  font-size:22px;
  line-height:64px;
}
.user-avatar.xlg{
  width:100px;
  height:100px;
}
.user-avatar.xlg .avatar-text{
  font-size:34px;
  line-height: 100px;
}